{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "infrastructure/tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "rules": {
        "no-new": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-console": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}
